<div class="row">
    <div class="col-4">
        <ul>
            <li *ngFor="let item of roleList">{{item.role}}</li>
        </ul>
    </div>
    <div class="col-4">
       <select>
            <option *ngFor="let item of roleList" [value]="role.roleId">{{role.role}}</option>
       </select>
    </div>
</div>
<!--<p> {{firstName}} </p>
<p> {{cD}}</p>

<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName" >
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showalert('Welcome')">Alert</button>
    </div>
</div>-->
