
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SI.No</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roleList;let sino = index">
                    <td>{{sino+1}}</td>
                    <td>{{role.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--<p> {{firstName}} </p>
<p> {{cD}}</p>

<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName" >
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showalert('Welcome')">Alert</button>
    </div>
</div>-->
