<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>SI.No</th>
                                    <th>Person Name</th>
                                    <th>Company Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of clientList; let $index = index">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ item.contactPersonName }}</td>
                                    <td>{{ item.companyName }}</td>
                                    <td>{{ item.contactNo }}</td>
                                    <td>{{ item.city }}</td>
                                    <td>
                                      <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                                      <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>
                                    </td>
                                </tr>
                                


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client List
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" formControlName="projectName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" formControlName="startDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Expected End Date</label>
                            <input type="date" formControlName="expectedEndDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Name</label>
                            <input type="text" formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Mobile</label>
                            <input type="text" formControlName="contactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact email</label>
                            <input type="email" formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employee Count</label>
                            <input type="number" formControlName="totalEmpWorking" class="form-control" >
                        </div>
                        <div class="col-6">
                            <label for="">Project Costing</label>
                            <input type="number" formControlName="projectCost" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Description</label>
                            <textarea formControlName="projectDetails" class="form-control"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Select Client</label>
                            <select formControlName="clientId" class="form-control">
                                <option value="">Select client</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Lead By</label>
                            <select formControlName="leadByEmpId" class="form-control">
                                <option value="">Select Employee</option>
                                <option *ngFor="let employee of employeeList" [value]="employee.id">
                                  {{ employee.name }}
                                </option>
                              </select>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-6 text-center pt-2">
                        <button class="btn btn-success" [disabled]="!projectForm.valid" (click)="onSaveClient()">
                            {{clientObj.clientId!=0?'Update Client':'Save Client'}}
                          </button>
                    </div>
                    <div class="col-6 text-center pt-2">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>